.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
}

.header ul {
    display: flex;
    gap: 1.5rem;
}