.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
}

.header h3 {
  margin-right: 1.5rem;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header ul a:nth-of-type(1) {
  background-color: aliceblue;
  padding: 5px 20px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .header h3 {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
