.CardBoxSubHeader {
    display: flex;
    justify-content: space-between;
    background-color: #eef3f5;
    padding: 20px 0;
    color: #A7B0BD;
    overflow: auto;
    margin: 0 auto;
    width: 95%;
}

.sub-h {
    display: flex;
    align-items: center;
}

.sub-h span {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    width: 8.5rem;
}
